<div class="form-body">
  <div class="w-full">
    <h2 class="form-title">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-container flex flex-wrap" }) do |f| %>
      <div class="w-1/2 px-3">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :first_name, required: true %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="w-1/2 px-3">
        <%= f.input :username, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <%= f.button :submit, "Sign up" %>
    <% end %>

    <span class="text-gray-600">Or you can <%= link_to "Log in", new_session_path(resource_name), class: "form-link" %></span>
  </div>
</div>
