<div id="<%= dom_id book %>" class="book-card">
  <% if book.book_cover.attached? %>
    <%= image_tag book.book_cover, class: "book-img" %>
  <% else %>
    <%= image_tag "http://via.placeholder.com/640x360", class: "book-img" %>
  <% end %>
  <div class="flex flex-col justify-between flex-grow p-6">
    <div>
      <h2 class="card-title"><%= book.title %></h2>
      <p class="card-author"><%= book.author %></p>
      <p class="mb-2 text-sm text-gray-700">ISBN: <%= book.isbn %></p>
      <p class="card-text"><%= book.description %></p>
    </div>
    <div class="mt-auto">
      <%= link_to "Show", book, class: "card-button" %>
    </div>
  </div>
</div>
