<div class="show-container">
  <div class="show-card">
    <div class="show-cover">
      <%= display_book_cover(@book) %>
    </div>

    <div class="p-6">
      <%= link_to @book.title, edit_book_path(@book), class: "show-title" %>
      <h4 class="show-author"><%= @book.author %></h4>
      <p class="show-isbn">ISBN: <%= @book.isbn %></p>
      <p class="show-text"><%= @book.description %></p>
      <div class="mt-auto ">
        <%= link_to "Back to books", books_path, class: "card-button" %>
      </div>
    </div>
  </div>

  <% if current_user && @book.book_content.attached? %>
    <script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
    <div id="adobe-dc-view" class="mt-8 show-card"></div>
    <div data-controller="adobe-viewer"
        data-url="<%= rails_blob_path(@book.book_content, only_path: true) %>"
        data-filename="<%= @book.book_content.filename %>"
        data-adobe-viewer-element-id="adobe-dc-view">
    </div>
  <% end %>
</div>
